<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nemzeti Ünnepi Kvíz - Augusztus 20.</title>
    <meta name="title" content="Nemzeti Ünnepi Kvíz - Augusztus 20.">
    <meta name="description" content="Teszteld tudásod az államalapítás ünnepéről!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://quiz.zita.dev/">
    <meta property="og:title" content="Nemzeti Ünnepi Kvíz - Mennyit tudsz augusztus 20-ról?">
    <meta property="og:description" content="Kattints és töltsd ki a kvízt! Vajon eléred a 10/10-et?">
    <meta property="og:image" content="https://quiz.zita.dev/images/og-image.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://quiz.zita.dev/">
    <meta property="twitter:title" content="Nemzeti Ünnepi Kvíz">
    <meta property="twitter:description" content="Teszteld tudásod az államalapítás ünnepéről!">
    <meta property="twitter:image" content="https://quiz.zita.dev/images/og-image.jpg">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <main>