<%- include('partials/header.ejs'); -%>
<div class="template">
    <!-- Az oldal háttere -->
</div>
<div class="quiz">
    
        <h1>Kvíz vége!</h1>
        <p>Pontszámod: <%= totalScore %> / 10</p>
        <button id="finish-btn"><a href="/">Vissza a teszt indításához!</a></button>
    
</div>
<%- include('partials/footer.ejs'); -%>